.header {
  padding: 2rem;
}

.header > h1 {
font-size: 3rem;
padding-bottom: 1rem;
}

.header > article > ul > li > p {
font-size: 1rem;
line-height: 1.5;
color: #666666;
}

.header > article > a {
  margin-left: 0;
}


.project-list {
padding: 2rem;
}

.project-list > ul {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 1rem;
}

.project-list > ul > li {
border: 1px solid #E2E2E2;
border-radius: .5rem;
}

.project-list > ul > li > figure {
max-height: 220px;
overflow: hidden;
border-top-left-radius: .5rem;
border-top-right-radius: .5rem;
position: relative;
}

.project-list > ul > li > figure > img {
width: 100%;
}

.project-list > ul > li > figure > figcaption {
position: absolute;
bottom: 0;
background-color: rgba(0,0,0,.7);
width: 100%;
}

.project-list > ul > li > figure > figcaption > h3 {
color: white;
padding: .75rem;
font-size: 1.25rem;
}

.project-list > ul > li > p {
font-size: 1rem;
line-height: 1.5;
padding: 1rem .75rem;
color: #666666;
}

a.button {
padding: 8px 16px;
border: 3px solid #141414;
border-radius: 50px;
color: black;
text-decoration: none;
width: fit-content;
display: flex;
gap: 5px;
align-items: center;
margin: 0.5rem;
}

